$color-white: #ffffff;
$color-text: #02111e; 
$color-bg: #f6f7f7;
$color-dialog-backdrop: rgba(2, 17, 30, 0.4); 
$color-primary: #304C64;
$color-primary--hover: #5a7c99;
$color-primary--active: #17242f;
$color-secondary: #daeaee;
$color-error: #E2480C;
